/*League Gothic - for titles*/
@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/League_Gothic-webfont.eot');
	src: local('☺'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Meta Serif */
@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserifsc-bookita-webfont.eot');
	src: local('☺'), url('../fonts/metaserifsc-bookita-webfont.woff') format('woff'), url('../fonts/metaserifsc-bookita-webfont.ttf') format('truetype'), url('../fonts/metaserifsc-bookita-webfont.svg#webfontWir2Jadv') format('svg');
	font-weight: normal;
	font-style: italic;
	font-variant: small-caps;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserifsc-book-webfont.eot');
	src: local('☺'), url('../fonts/metaserifsc-book-webfont.woff') format('woff'), url('../fonts/metaserifsc-book-webfont.ttf') format('truetype'), url('../fonts/metaserifsc-book-webfont.svg#webfontcchd5Nl6') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserifsc-boldita-webfont.eot');
	src: local('☺'), url('../fonts/metaserifsc-boldita-webfont.woff') format('woff'), url('../fonts/metaserifsc-boldita-webfont.ttf') format('truetype'), url('../fonts/metaserifsc-boldita-webfont.svg#webfontbddZOQch') format('svg');
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserifsc-bold-webfont.eot');
	src: local('☺'), url('../fonts/metaserifsc-bold-webfont.woff') format('woff'), url('../fonts/metaserifsc-bold-webfont.ttf') format('truetype'), url('../fonts/metaserifsc-bold-webfont.svg#webfontiCweDqV0') format('svg');
	font-weight: bold;
	font-style: normal;
	font-variant: small-caps;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserif-bookita-webfont.eot');
	src: local('☺'), url('../fonts/metaserif-bookita-webfont.woff') format('woff'), url('../fonts/metaserif-bookita-webfont.ttf') format('truetype'), url('../fonts/metaserif-bookita-webfont.svg#webfontFBR1sKjR') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserif-book-webfont.eot');
	src: local('☺'), url('../fonts/metaserif-book-webfont.woff') format('woff'), url('../fonts/metaserif-book-webfont.ttf') format('truetype'), url('../fonts/metaserif-book-webfont.svg#webfontFwpFui1y') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserif-boldita-webfont.eot');
	src: local('☺'), url('../fonts/metaserif-boldita-webfont.woff') format('woff'), url('../fonts/metaserif-boldita-webfont.ttf') format('truetype'), url('../fonts/metaserif-boldita-webfont.svg#webfont4dpbqZDY') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Meta Serif';
	src: url('../fonts/metaserif-bold-webfont.eot');
	src: local('☺'), url('../fonts/metaserif-bold-webfont.woff') format('woff'), url('../fonts/metaserif-bold-webfont.ttf') format('truetype'), url('../fonts/metaserif-bold-webfont.svg#webfontL3BCrhJt') format('svg');
	font-weight: bold;
	font-style: normal;
}

